h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 64px;
    font-family: HelpMe, fantasy;
  }
h2 {
    color: rgb(138, 138, 138);
    text-align:center;
    font-size: 45px;
    font-family: SunD, serif;
    font-style:normal;
  }
h4{
    color: rgb(255, 255, 255);
      text-align:right;
      font-size: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
h5{
    color: rgb(0, 0, 0);
      text-align:center;
      font-size: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

h6 {
    color: rgb(255, 255, 255);
    text-align:center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.logo{

  text-decoration: none;
}

/* FONT INCLUSIONS */
@font-face {
  font-family: HelpMe;
  src: url("../assets/fonts/HelpMe-owODB.ttf");
}
@font-face {
  font-family: SheilaCrayon;
  src: url("../assets/fonts/SheilaCrayon-1vWg.ttf");
}
@font-face {
  font-family: SunD;
  src: url("../assets/fonts/SundiaryDemo-2OgdK.ttf");
}
@font-face {
  font-family: Abbeyline;
  src: url("../assets/fonts/Abbeyline.ttf");
}

}

html[data-theme='black'] {
    --background-color: #000000;
    --text-color: #F7F8F8;
    --link-color: #828fff;
}